*{
    margin: 0px ;
    padding: 0px;
}

.mainContainer{
    width: 100%;
    height: 100vh;
    background: #8C6A03;
    display: flex;
}

.mainContainer .gameContainer{
    width: 1300px;
    height: 700px;
    margin: 40px 15px;
    padding: 10px;
    border: 8px solid #F2DD72;
    background: #D9BD32;
    border-radius: 15px;
    flex: 1;
    display: flex;
}

.mainContainer .gameContainer .gameboxcss{
    width: 650px;
    height: 650px;
    margin: 25px 10px;
    border: 5px solid #8C6A03;
    background: white;
    border-radius: 15px;
    flex: 1;
}

.mainContainer .gameContainer .hangman img{
    width: 650px;
    height: 650px;
    border-radius: 15px;
}

.mainContainer .gameContainer .game .gameHeader img{
    width: 30px;
    height: 30px;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F2DD72 !important;
}
.game .point{
    font-size: larger;
    font-weight: 700;
    color: #8C6A03;
    background: rgba(0, 0, 0, 0.082);
    width: 250px;
    height: 30px;
    border: 5px solid #8C6A03;
    border-radius: 100px;
    text-align: center;
    margin :0px;
    padding: 0px;
}

.game .point:after{
    content:" Point";
}
.game .guess{
    display: flex;
    width: 650px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game .guess .word{
    width: 99%;
    height: 40px;
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wordPanel{
    content: "";
    width: 45px;
    height: 45px;
    margin: 75px 0px;
    border-bottom : 5px solid #8C6A03 ;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
}
.game .guess .wordButtons{
    display: flex;
    flex-wrap: wrap;
}

.game .buttons{
    display:flex;
    margin-top: 30px;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    cursor: pointer;
}

.game .buttons .btns input{
    width: 200px;
    height: 50px;
    margin: 10px 20px ;
    border: 5px solid #8C6A03;
    background: #F2DD72;
    border-radius: 15px;
    color: #8C6A03;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

.game .buttons .btns input:hover{
    box-shadow: 1px 1px 3px 4px;
}
.game .buttons .btns input:active{
    box-shadow: 1px 1px 3px 4px #8C6A03;
    background: rgba(0, 0, 0, 0.322);
    color: rgba(255, 255, 255, 0.472);
    box-sizing: border-box;
}
.game .guess .gameWordButtons{
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 5px 5px;
    padding: 4px;
    border: 2px solid #8C6A03;
    border-radius: 10px;
    background: #D9BD32;
    cursor: pointer;
}

.game .guess .gameWordButtons:active{
    box-shadow: 1px 1px 3px 3px #8C6A03;
    background: rgba(0, 0, 0, 0.322);
    color: rgba(255, 255, 255, 0.472);
    box-sizing: border-box;
}
